<html>
<body>
<center>
<h1>The Current Server Is Running With OS Family {{ ansible_os_family }}</h1>
<br>
<h2>The Current User is {{ansible_user_id}}</h2>
<br>
<h2>Hostname : {{ansible_hostname}}</h2>
</center>
</body>
</html>

